<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chart.name %>
</p>

<p>
  <strong>Db:</strong>
  <%= @chart.db_id %>
</p>

<p>
  <strong>Query:</strong>
  <%= @chart.query %>
</p>

<p>
  <strong>Timing:</strong>
  <%= @chart.timing %>
</p>

<%= link_to 'Edit', edit_chart_path(@chart) %> |
<%= link_to 'Back', charts_path %>
